.post-image-box {
    border-radius: 0;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
  }
  
  .post-image {
    border-radius: 0;
    width: 60em;
    height: 15em;
    object-fit:cover ;
    object-position: 50% 50%; /* positioned top left of the content box */
    /* border-bottom-right-radius: calc(.25rem - 1px);
      border-bottom-left-radius: calc(.25rem - 1px); */
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    flex-shrink: 0;
    vertical-align: middle;
    border-style: none;
  }
  
  .post-card {
    background-color:#f2f2f2;
    border-radius: 0.5rem;
    padding: 0;
    margin-bottom: 2em;
    margin-top: 2em;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 60em;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .post-title {
    margin-bottom: 0.75rem;
    font-size: 2rem;
    color: #d04d4f;
    padding: 0.75rem 0.75rem;
    font-weight: 500;
    line-height: 1.2;
 
  }
  .post-by-created {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0rem 0rem;
  }
  .post-card-text {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .post-col-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0rem 0rem;
  }
  
  .post-body {
    font-size:1.25rem;
    padding-bottom: 1rem;
    flex: 1 1 auto;
    min-height: 1px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .post-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.03); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .post-footer {
    width:100%;
    padding: 0.75rem 1.25rem;
    
   /*  background-color: rgba(0, 0, 0, 0.03); */
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .post-footer-readmore{
    width:100%;
    padding: 0.75rem 1.25rem;
    display:flex;
    justify-content: flex-end;
   /*  background-color: rgba(0, 0, 0, 0.03); */
    border-top: 1px solid rgba(0, 0, 0, 0.125);

  }
  .post-footer-button{
    padding: 0.75rem 1.25rem;
   
   /*  background-color: rgba(0, 0, 0, 0.03); */
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius:1rem;
    text-decoration: none;
    font-weight: bold;

  }
  .post-footer-button:hover{
    padding: 0.75rem 1.25rem;
   background-color:  rgba(0, 0, 0, 0.125);
   /*  background-color: rgba(0, 0, 0, 0.03); */
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius:1rem;
    text-decoration: none;
    font-weight: bold;

  }
  